<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherOptionForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherOptionForm.Properties.Settings>
            <setting name="myPort" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="TcpIp1CB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TcpIp2CB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tcp1_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Tcp1_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Tcp2_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Tcp2_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialConCB1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialConCB2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComPortCB1" serializeAs="String">
                <value />
            </setting>
            <setting name="ComPortCB2" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRateCB1" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRateCB2" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBitsCB1" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBitsCB2" serializeAs="String">
                <value />
            </setting>
            <setting name="ParityCB1" serializeAs="String">
                <value />
            </setting>
            <setting name="ParityCB2" serializeAs="String">
                <value />
            </setting>
            <setting name="StopBitCB1" serializeAs="String">
                <value />
            </setting>
            <setting name="StopBitCB2" serializeAs="String">
                <value />
            </setting>
            <setting name="DataAlarmCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSelfCheckCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataFWVerCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataBattCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSolarCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataDoorCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DbIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="DbId" serializeAs="String">
                <value>w_db</value>
            </setting>
            <setting name="DbPw" serializeAs="String">
                <value>weather</value>
            </setting>
            <setting name="DbSid" serializeAs="String">
                <value>xe</value>
            </setting>
            <setting name="autoLoginCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CdmaPort" serializeAs="String">
                <value />
            </setting>
            <setting name="WDeviceState" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="myIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EthernetIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EthernetPort" serializeAs="String">
                <value>9002</value>
            </setting>
        </WeatherOptionForm.Properties.Settings>
    </userSettings>
</configuration>