<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherRSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WeatherRSystem.Properties.Settings>
            <setting name="DataAlarmCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSelfCheckCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataFWVerCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataBattCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSolarCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataDoorCB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DbIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="DbId" serializeAs="String">
                <value>w_db</value>
            </setting>
            <setting name="DbPw" serializeAs="String">
                <value>weather</value>
            </setting>
            <setting name="DbSid" serializeAs="String">
                <value>xe</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPW" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CdmaPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>9001</value>
            </setting>
            <setting name="Tcp1IsUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tcp2IsUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tcp1Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Tcp1Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Tcp2Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Tcp2Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Serial1IsUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Serial2IsUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="S1Com" serializeAs="String">
                <value />
            </setting>
            <setting name="S1Rate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="S1DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="S1Parity" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="S1StopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="S2Com" serializeAs="String">
                <value />
            </setting>
            <setting name="S2Rate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="S2DataBit" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="S2Parity" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="S2StopBit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WDeviceChkTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EthernetIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="EthernetPort" serializeAs="String">
                <value>9002</value>
            </setting>
            <setting name="LocalIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </WeatherRSystem.Properties.Settings>
    </userSettings>
</configuration>